<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>web - %date [%thread] %-5level %logger{36} - %message%n</pattern> -->
			<pattern>ctsbank - %date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %msg\n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="WARN" /> <!-- info -->
	<logger name="org.springframework.transaction" level="WARN" />

	<!-- in order to debug some marshalling issues, this needs to be TRACE -->
	<logger name="org.springframework.web.servlet.mvc" level="WARN" />
	
	<logger name="poc.ctsbank.fido" level="DEBUG" />
	
    <root level="INFO"> <!-- error -->
		<appender-ref ref="STDOUT" />
	</root>

</configuration>